@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<img class="login-main-logo" src="~/images/carbon_logo.png"/>
<h4>A New World to Blog</h4>

<section id="login-content">
    <form id="login-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" placeholder="Password"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div id="remember-checkbox" class="form-group right">
            <div class="checkbox">
                <label id="login-checkbox" asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe"/>
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div id="login-btn" class="form-group right">
            <button type="submit" class="btn btn-default login-btn">Sign In</button>
        </div>
        <div class="form-group right">
            <a id="forgotten-anchor" asp-page="./ForgotPassword">Forgotten Password</a>
        </div>
    </form>
    
    
</section>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}