<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Carbon</title>

    <environment include="Development">
@*        <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css"/>*@
        <link rel="stylesheet" href="~/css/site.css"/>
        <link href="https://fonts.googleapis.com/css?family=Muli:300|Roboto:300,400" rel="stylesheet"> 
    </environment>
    <environment exclude="Development">
@*        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"*@
@*              asp-fallback-href="~/lib/materialize/dist/css/materialize.min.css"*@
@*              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <link href="https://fonts.googleapis.com/css?family=Muli:300|Roboto:300,400" rel="stylesheet"> 
    </environment>
</head>
<body>
@await Html.PartialAsync("_LoginPartial")
<div class="body-content">
    @RenderBody()
</div>
<footer>
    <p>&copy; 2017 - Carbon</p>
</footer>

<environment include="Development">
    <script src="~/components/carbon.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*    <script src="~/lib/materialize/dist/js/materialize.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/webcomponentsjs/webcomponents-lite.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/components/carbon.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    @*    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"*@
    @*            asp-fallback-src="~/lib/materialize/dist/js/materialize.min.js"*@
    @*            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"*@
    @*            crossorigin="anonymous"*@
    @*            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">*@
    @*    </script>*@
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>