@using Carbon.Api.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User) && ViewData["Title"] != "Log in")
{
    <carbon-main-nav class="navbar-header" profile-image="/images/profile_icon.png" name="@UserManager.GetUserAsync(User).Result.FirstName" date="@DateTime.Today.ToString("MMMM dd, yyyy")">
        <a href="/Carbon" slot="logo"><img class="logo-image" src="/images/carbon_logo.png"/></a>
        <a slot="logout" id="manage-logout-btn">Log Out</a>
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right"></form>
    </carbon-main-nav>
}
@*else*@
@*{*@
@*    <li><a asp-page="/Carbon/Account/Register">Register</a></li>*@
@*    <li><a asp-page="/Carbon/Account/Login" asp-route-returnUrl="/Carbon">Log in</a></li>*@
@*}*@
