﻿@page
@using Carbon.AdminSite.Pages
@using Carbon.Api.Data
@using Microsoft.AspNetCore.Identity
@model Carbon.AdminSite.Pages.EditorModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Editor";
}

<div>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <section class="post-title-section">
            <div>
                <textarea asp-for="Post.Title" class="post-title" placeholder="Title"></textarea>
                <span asp-validation-for="Post.Title" ></span>
            </div>
        </section>
        <section class="post-section">
            <div>
                <textarea asp-for="Post.Content" class="post-content" placeholder="Content"></textarea>
                <span asp-validation-for="Post.Content" ></span>
            </div>
        </section>
       
        
        @if (Model.Edited)
        {
            <button type="submit" class="btn btn-secondary" asp-page-handler="edit" asp-route-id="@Model.Post.Id">Save</button>
            
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Delete
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this post?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" asp-page-handler="delete" 
                                    asp-route-id="@Model.Post.Id">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <button type="submit" class="btn btn-secondary" asp-page-handler="create">Save</button>
        }
    </form>
</div>