﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a class="btn btn-default" asp-page="/Carbon/Editor">Create</a>
    @foreach (var post in Model.Posts)
    {
        <h1><a asp-page="/Carbon/Editor" asp-page-handler="editor" asp-route-id="@post.Id">@post.Title</a></h1>
        <p>@post.Content</p>
    }
</div>
