html {
    background-color: #374355;
}

body {
    display: grid;
    grid-template-columns: [first] 100px [second] auto [third] 100px;
    grid-template-rows: [first] 110px [second] auto [third] 150px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: second;
    grid-row-end: third;
}

footer {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: third;
    grid-row-end: end;
}

footer > p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #FFFFFF;
    
}

.post-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    resize: none;
    font-size: 1.5em;
}

.post-section {
    position: relative;
    height: 500px;
}

.post-title-section {
    position: relative;
    height: 45px;
}

.post-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    resize: none;
    font-size: 2em;
}

h4 {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 1.6em;
    text-align: center;
}

#login-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    padding: 5px;
}

input[type=email] {
    border: 0.2px solid #53657D;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background-color: #FFFFFF;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    color: #53657D;

}

input[type=password] {
    border: 0.2px solid #53657D;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background-color: #FFFFFF;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    color: #53657D;
}

#login-checkbox {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;

}

.login-btn:hover {
    border: 0.2px solid #53657D;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 35px;
    width: 135px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    color: #53657D;
    transition-duration: 0.3s;
    box-shadow: #53657D;
}

.login-btn {
    border: 0.2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    height: 35px;
    width: 135px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    transition-duration: 0.3s;
}

#forgotten-anchor {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    height: auto;
}

#forgotten-anchor:link {
    color: #FFFFFF;
    text-decoration: none;
}

input:focus-webkit-input-placeholder {
    color: transparent;

}

input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 900px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1800px) {
    body {
        display: grid;
        grid-template-columns: [first] auto [second] 1600px [third] auto;
        grid-template-rows: [first] 110px [second] 1fr [third] 150px;
        height: 100vh;
    }

    .navbar-header {
        grid-column-start: second;
        grid-column-end: third;
        grid-row-start: first;
        grid-row-end: second;
    }

    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        grid-column-start: second;
        grid-column-end: third;
        grid-row-start: second;
        grid-row-end: third;
    }

    footer {
        grid-column-start: second;
        grid-column-end: third;
        grid-row-start: third;
        grid-row-end: end;
    }

    .login-main-logo {
        width: 600px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
}
